<div class="home-container" *ngIf="!gameStarted">
    <h1>SPY</h1>
    <!-- Add Players Button -->
    <button class="add-players-btn" (click)="openAddPlayersDialog()">
        Add Players ({{ players.length }})
    </button>
  
    <!-- Control for Number of Spies -->
    <div class="control-group">
      <label for="spies">Spies:</label>
      <div class="control">
        <button class="small-btn" (click)="changeSpyCount(-1)">-</button>
        <input id="spies" type="number" [value]="spyCount" readonly />
        <button class="small-btn" (click)="changeSpyCount(1)">+</button>
      </div>
    </div>
  
    <!-- Control for Minutes per Round -->
    <div class="control-group">
      <label for="roundTime">Minutes:</label>
      <div class="control">
        <button class="small-btn" (click)="changeRoundTime(-1)">-</button>
        <input id="roundTime" type="number" [value]="roundTime" readonly />
        <button class="small-btn" (click)="changeRoundTime(1)">+</button>
      </div>
    </div>
  
    <!-- Start Game Button -->
    <button
      class="start-btn"
      (click)="startGame()"
      [disabled]="players.length < 3 || spyCount >= players.length"
    >
      Start Game
    </button>
  </div>


<app-display-roles *ngIf="gameStarted"
[assignedPositions]="assignedPositions"
[timeRound]="roundTime"
[selectedWorkplace]="workplace!"
[workplaces]="workplacesNames"
></app-display-roles>